* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 120px;
    overflow: hidden;
}

h1 span {
    display: inline-block;
}